API_TOKEN=CHANGEME #the api token form themoviedb
API_KEY=CHANGEME #the api key form themoviedb

DATABASE_URL= # postgresql://root:root@postgresdb:5432/movies(kube) ou postgresql://root:root@db:5432/movies (docker compose)

MOVIE_API_URL=CHANGEME

SECRET_KEY=CHANGEME

ALGORITHM=CHANGEME

CORS_ORIGINS=CHANGEME