# JWT variables
JWT_SECRET=CHANGEME
JWT_ALGO=CHANGEME
ACCESS_TOKEN_EXPIRES_MIN=CHANGEME
REFRESH_TOKEN_EXPIRES_MIN=CHANGEME

# Build variables
CORS_ORIGINS=CHANGEME

# SQLite variables
DATABASE_URL=CHANGEME